/* .imgpart{
  background-image: url("../images/night.jpg");
  height: fit-content;
}
.drivreg{
  margin-top: 100px;
} */
/* .bookingupdate{
  background-image:("../images/a.jpg");
} */
.test{
  background-image:url("../images/cars.jpg");
  margin: 0px;
}
.form2{
  background-color: white;

}
