.header{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}


.header_search{
    display: flex;
    flex: 1;
    align-items: left;
    border-radius: 30px;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height: 25px !important;
    background-color: #D1D0CE;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
    
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionCart{
    display: flex;
    align-items: center;
    color: brown;
}
.header_cartCount{
    margin-top: 10px;
    margin-right: 10px;
}